/******************************************************************

		Snippet: Hash Generator
		Name: style.css
		Description: Very Basics
		Author: Thomas Gull
		Author URI: gulldesign.ch
		Version: v2.0
		Release: 2020-07-28
		License: Public Licence

******************************************************************/
/*------------------------------------------------------------------------------
  GENERAL
------------------------------------------------------------------------------*/
body {
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	padding: 4% 0;
}

h4 {
	margin-bottom: 5px;
	font-size: 1em;
}

p {
	margin: 0 0 20px 0;
	font-size: 1em;
}

/*------------------------------------------------------------------------------
  BIRTHDAY DATA
------------------------------------------------------------------------------*/
/* Details for the Singel Cupcake Image Position
.innerWrapper {
	position: absolute;
	top: 450px;
	left: 41%;
}
*/

.innerWrapper {
	position: absolute;
	top: 50px;
	left: 50%;
	right: 0;
}

.birthdayListing {
	
}

.birthday {
	display: block;
	font-size: 2em;
	line-height: 1em;
	color: #1d74d1;
}

.firstname,
.lastname {
	display: inline-block;
	font-size: 4.5em;
	line-height: 1em;
	margin-bottom: 1.4%;
	font-family: 'Caveat', cursive;
	color: #1d74d1;
}

.firstname {
	margin-right: 2%;
}

.nobirthday {
	display: inline-block;
	font-size: 3.5em;
	line-height: 1em;
	font-family: 'Caveat', cursive;
	color: #1d74d1;
}

/*------------------------------------------------------------------------------
  SUCCESS MESSAGE
------------------------------------------------------------------------------*/
.message {
	display: block;
	margin-bottom: 2%;
	padding: 12px;
	border-radius: 10px;
	color: rgba(185, 185, 185, 1);
	background-color: rgba(185, 185, 185, .3);
}

.message.error {
	color: rgba(190, 1, 1, 1);
	background-color: rgba(190, 1, 1, .3);
}

.message.success {
	color: rgba(37, 153, 5, 1);
	background-color: rgba(37, 153, 5, .3);
}

.message.info {
	color: rgba(5, 118, 205, 1);
	background-color: rgba(5, 118, 205, .3);
}

.message.notice {
	color: rgba(215, 167, 0, 1);
	background-color: rgba(215, 167, 0, .3);
}
/*==============================================================================
  MEDIA QUERIES
==============================================================================*/
/*------------------------------------------------------------------------------
  PRINT
------------------------------------------------------------------------------*/
@media print {
	
}

/*------------------------------------------------------------------------------
  MOBILE
------------------------------------------------------------------------------*/
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
	
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
		
}